
@media screen and (min-width: 576px) and (max-width: 991px) {
    * {
        box-sizing: border-box;
    }

    body {
        background: white;
        margin: 16px;
    }

    .alert-info {
        background-color: #ccffff;
        padding: 1em;
        border: #cce8e8;
    }

    .alert-info a {
        color: black;
    }

    h1 {
        text-align: center;
    }

    li {
        background: #cccccc;
        margin-bottom: 10px;
        padding: 15px;
    }

    .nav-links {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-left: -40px;
    }

    a {
        display: flex;
        color: blue;
        justify-content: center;
    }
    img {
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    body {
        margin: 25px;
        background: white;
    }
    .alert-info {
        display: none;
    }
    h1 {
        float: left;
    }
    .nav-links {
        width: 30%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        float: right;
        padding-top: 20px;
    }
    .nav-links a {
        color: blue;
    }
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
   .main {
       width: 60%;
        float: left;
    }
    .sub-section {
        width: 30%;
        float: right;
    }
    footer {
        padding-top: 200px;
        width: 100%;
        display: flex;
    }
}


